{% extends 'base.html.j2' %}

{% block header %}
  <h1>{% block title %}New Corpse{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="body">Start here</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Release into the universe">
  </form>
{% endblock %}
