{% extends 'base.html.j2' %}

{% block header %}
  <h1>{% block title %}{{ header }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for corpse in corpses %}
    <article class="corpse">
      {% for limb in corpse.limbs %}
      <p class="body">
          {{limb}}
      </p>
      {% endfor %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
