{% extends 'base.html.j2' %}

{% block header %}
  <h1>{% block title %}Add a limb{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>All corpses are completed! Please release a new corpse into the universe.</h2>
  <p class="body">To do so, please click the "Create New Corpse" button. If you're not seeing the button, please log in.</p>
{% endblock %}
