{% extends 'base.html.j2' %}

{% block header %}
  <h1>{% block title %}Add a limb{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p class="body">{{ prompt }}</p>
  <form method="post">
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Add Limb">
  </form>
{% endblock %}
