<!doctype html>
<title>{% block title %}{% endblock %} - Exquisite Corpse</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Exquisite Corpse</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span></li>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
      <li><a href="{{ url_for('corpse.create') }}">Start New Corpse</a></li>
      <li>View My Corpses</li> <!-- TODO: Add link. -->
      <li>View Existing Corpses</li> <!-- TODO: Add link. -->
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a></li>
      <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
      <li>View Existing Corpses</li> <!-- TODO: Add link. -->
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
